In [120]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
import numpy as np
import requests
import os

In [122]:
os. chdir('C:\\Users\\32493\\Google Drive\\ku leuven\\data analysis\\MDA\\CSV FILES')

In [150]:
url = 'https://raw.githubusercontent.com/Arthur-Vansimpsen/MDA/refs/heads/main/dataset3_fielddummies.csv?token=GHSAT0AAAAAADBGGFA3GXT5OUKOR7D3BIQM2BK7SOA'
Dataset = pd.read_csv(url)
print(Dataset.tail(n=10))
print(Dataset.info())

       Unnamed: 0  projectID  agricultural sciences  \
15331       15331  190197288                    0.0
15332       15332  190197515                    0.0
15333       15333  190198093                    0.0
15334       15334  190198268                    0.0
15335       15335  190198323                    0.0
15336       15336  190198819                    0.0
15337       15337  190199097                    0.0
15338       15338  190199127                    0.0
15339       15339  190199469                    0.0
15340       15340  190199874                    0.0

       engineering and technology  humanities  medical and health sciences  \
15331                         3.0         0.0                          0.0
15332                         0.0         0.0                          2.0
15333                         0.0         0.0                          0.0
15334                         0.0         0.0                          2.0
15335                         0.0         0.0                          0.0
15336                         4.0         0.0                          0.0
15337                         1.0         0.0                          0.0
15338                         0.0         0.0                          0.0
15339                         1.0         0.0                          1.0
15340                         0.0         0.0                          0.0

       natural sciences  social sciences   startDate     endDate  ...  \
15331               0.0              0.0  2023-04-01  2025-03-31  ...
15332               0.0              0.0  2023-03-01  2026-08-31  ...
15333               2.0              0.0  2023-09-01  2025-08-31  ...
15334               0.0              0.0  2023-03-01  2025-02-28  ...
15335               2.0              0.0  2022-05-01  2024-04-30  ...
15336               0.0              0.0  2022-05-01  2024-04-30  ...
15337               1.0              0.0  2022-08-01  2024-07-31  ...
15338               0.0              1.0  2023-01-01  2024-12-31  ...
15339               0.0              0.0  2023-04-01  2025-03-31  ...
15340               3.0              0.0  2022-02-01  2025-01-31  ...

       duration  month country         role  activityType                city  \
15331       730      4      DK  coordinator           PRC          Copenhagen
15332      1279      3      NL  coordinator           PRC            Nijmegen
15333       730      9      FR  coordinator           PRC              Pantin
15334       730      3      BE  coordinator           PRC  Mont-Saint-Guibert
15335       730      5      ES  coordinator           PRC             Paterna
15336       730      5      FI  coordinator           PRC               Vaasa
15337       730      8      ES  coordinator           PRC               Elche
15338       730      1      DK  coordinator           PRC            Nordhavn
15339       730      4      EE  coordinator           PRC             Tallinn
15340      1095      2      FR  coordinator           PRC       Bry-Sur-Marne

      contributors proportion_cost   mask    logCost
15331            1        0.700000  False  21.306346
15332            1        0.172819  False  23.786162
15333            1        0.670350  False  21.830510
15334            1        0.558904  False  22.092247
15335            1        0.700000  False  21.302570
15336            1        0.700000  False  21.710671
15337            1        0.699999  False  20.813874
15338            2        0.700000  False  21.765239
15339            1        0.700000  False  21.710828
15340            1        0.700000  False  21.408053

[10 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   15341 non-null  int64
 1   projectID                    15341 non-null  int64
 2   agricultural sciences        13542 non-null  float64
 3   engineering and technology   13542 non-null  float64
 4   humanities                   13542 non-null  float64
 5   medical and health sciences  13542 non-null  float64
 6   natural sciences             13542 non-null  float64
 7   social sciences              13542 non-null  float64
 8   startDate                    15341 non-null  object
 9   endDate                      15341 non-null  object
 10  totalCost                    15341 non-null  float64
 11  ecMaxContribution            15341 non-null  float64
 12  fundingScheme                15340 non-null  object
 13  duration                     15341 non-null  int64
 14  month                        15341 non-null  int64
 15  country                      15341 non-null  object
 16  role                         15341 non-null  object
 17  activityType                 15340 non-null  object
 18  city                         15341 non-null  object
 19  contributors                 15341 non-null  int64
 20  proportion_cost              15341 non-null  float64
 21  mask                         15341 non-null  bool
 22  logCost                      15341 non-null  float64
dtypes: bool(1), float64(10), int64(5), object(7)
memory usage: 2.6+ MB
None

Set original missing values in proportion_cost again to Nan

In [153]:
Dataset.loc[Dataset['mask'] == True, 'proportion_cost'] =  np.nan
Dataset.isna().sum()

Unnamed: 0                        0
projectID                         0
agricultural sciences          1799
engineering and technology     1799
humanities                     1799
medical and health sciences    1799
natural sciences               1799
social sciences                1799
startDate                         0
endDate                           0
totalCost                         0
ecMaxContribution                 0
fundingScheme                     1
duration                          0
month                             0
country                           0
role                              0
activityType                      1
city                              0
contributors                      0
proportion_cost                6564
mask                              0
logCost                           0
dtype: int64

In [155]:
for col in ['fundingScheme', 'country', 'activityType', 'social sciences']:
    print(f"\nUnique values in {col}:")
    print(Dataset[col].unique())

Unique values in fundingScheme:
['HORIZON-ERC' 'HORIZON-AG' 'ERC' 'HORIZON-CSA' 'HORIZON-RIA'
 'HORIZON-EIC' 'EURATOM-COFUND' 'MSCA-PF' 'CSA' 'HORIZON-COFUND'
 'HORIZON-TMA-MSCA-PF-EF' 'HORIZON-AG-LS' 'HORIZON-AG-UN' 'HORIZON-IA'
 'HORIZON-ERC-POC' 'EIC' 'HORIZON-TMA-MSCA-PF-GF' 'EURATOM-CSA'
 'EURATOM-RIA' 'ERC-POC' 'EURATOM-IA' 'HORIZON-TMA-MSCA-DN-ID'
 'HORIZON-TMA-MSCA-DN' 'HORIZON-ERC-SYG' 'ERC-SYG'
 'HORIZON-TMA-MSCA-DN-JD' 'RIA' 'HORIZON-TMA-MSCA-SE'
 'HORIZON-TMA-MSCA-Cofund-P' 'HORIZON-TMA-MSCA-Cofund-D' 'IA'
 'HORIZON-PCP' 'HORIZON-JU-RIA' 'HORIZON-JU-IA' 'HORIZON-JU-CSA'
 'HORIZON-EIT-KIC' nan 'HORIZON-EIC-ACC-BF' 'HORIZON-EIC-ACC' 'EIC-ACC']

Unique values in country:
['ES' 'PL' 'DE' 'FR' 'FI' 'IL' 'NL' 'NO' 'IT' 'SE' 'PT' 'TR' 'CZ' 'AT'
 'DK' 'BE' 'IE' 'EL' 'IS' 'LU' 'SI' 'CH' 'RO' 'HU' 'EE' 'CY' 'UK' 'AL'
 'RS' 'ME' 'SK' 'LT' 'BA' 'FO' 'MD' 'MT' 'BG' 'HR' 'LV' 'UA' 'TN' 'GE'
 'ZA' 'AM' 'KE' 'GH' 'NG' 'MK' 'AU']

Unique values in activityType:
['REC' 'HES' 'OTH' 'PRC' 'PUB' nan]

Unique values in social sciences:
[ 0.  1. nan  2.  3.  5.  4.]

Drop the missing values in activitytype and fundingscheme (only 2).

In [158]:
Dataset = Dataset.dropna(subset=['activityType'])
Dataset = Dataset.dropna(subset=['fundingScheme'])
Dataset.drop(columns = ['mask', 'logCost', 'startDate', 'endDate', 'totalCost', 'Unnamed: 0', 'projectID', 'city','role'], inplace=True)
print(Dataset)
print(Dataset.isna().sum())

       agricultural sciences  engineering and technology  humanities  \
0                        0.0                         0.0         0.0
1                        0.0                         0.0         2.0
2                        1.0                         0.0         0.0
3                        0.0                         0.0         0.0
4                        0.0                         0.0         0.0
...                      ...                         ...         ...
15336                    0.0                         4.0         0.0
15337                    0.0                         1.0         0.0
15338                    0.0                         0.0         0.0
15339                    0.0                         1.0         0.0
15340                    0.0                         0.0         0.0

       medical and health sciences  natural sciences  social sciences  \
0                              0.0               2.0              0.0
1                              1.0               2.0              0.0
2                              0.0               2.0              0.0
3                              0.0               2.0              1.0
4                              0.0               1.0              0.0
...                            ...               ...              ...
15336                          0.0               0.0              0.0
15337                          0.0               1.0              0.0
15338                          0.0               0.0              1.0
15339                          1.0               0.0              0.0
15340                          0.0               3.0              0.0

       ecMaxContribution       fundingScheme  duration  month country  \
0              1496205.0         HORIZON-ERC      1825      2      ES
1              1499150.0         HORIZON-ERC      1826      9      ES
2              1482050.0         HORIZON-ERC      1825      1      PL
3              1495000.0          HORIZON-AG      1825      4      DE
4              1458688.0         HORIZON-ERC      1826      3      DE
...                  ...                 ...       ...    ...     ...
15336          2402487.0          HORIZON-AG       730      5      FI
15337          1290322.0  HORIZON-EIC-ACC-BF       730      8      ES
15338          2495099.0  HORIZON-EIC-ACC-BF       730      1      DK
15339          2402750.0  HORIZON-EIC-ACC-BF       730      4      EE
15340          1947888.0  HORIZON-EIC-ACC-BF      1095      2      FR

      activityType  contributors  proportion_cost
0              REC             1         1.000000
1              HES             3         1.000000
2              HES             1         1.000000
3              REC             1         1.000000
4              HES             1         1.000000
...            ...           ...              ...
15336          PRC             1         0.700000
15337          PRC             1         0.699999
15338          PRC             2         0.700000
15339          PRC             1         0.700000
15340          PRC             1         0.700000

[15339 rows x 14 columns]
agricultural sciences          1799
engineering and technology     1799
humanities                     1799
medical and health sciences    1799
natural sciences               1799
social sciences                1799
ecMaxContribution                 0
fundingScheme                     0
duration                          0
month                             0
country                           0
activityType                      0
contributors                      0
proportion_cost                6563
dtype: int64

split in training and test set.

In [161]:
x = Dataset.drop('ecMaxContribution', axis=1)
y = Dataset['ecMaxContribution']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

New column 'split' that indicates if observation was a train or test

In [164]:
Dataset['split'] = 'test'
Dataset.loc[x_train.index, 'split'] = 'train'

In [142]:
Dataset.to_csv('Dataset_for_model.csv', index=False)